*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: hsl(220, 15%, 55%);
}

h1 {
    font-size: 1.25rem;
}

img{
    max-width: 100%;
    border-radius: 0.625rem;
}

main {
    margin: 1em;
    max-width: 250px;
    padding: 1rem;
    border-radius: 1em;
    position: relative;
    background-color: hsl(0, 0%, 100%);
}

.attribution { 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.attribution-text, 
.attribution-text > a {
    color: hsl(218, 44%, 22%);
}